body {
    margin: 0;
    background-color: #FFFFFF;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 550px;
    width: 550px;
    border: 1px solid red;
    position: relative;
}

.color-options,
.palette-container,
.color-codes {
    border: 1px solid blue;
}

.color-codes,
.color-options {
    left: 0;
    right: 0;
}

.color-options {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    height: 90px;
    align-items: center;
    padding: 0 14px;
}

.color-picker {
    height: 42px;
    width: 61px;
    cursor: pointer;
}

#themes {
    height: 42px;
    width: 312px;
}

button {
    height: 42px;
    width: 123px;
}

.palette-container {
    grid-area: p;
    height: 100%;
}

.color-codes {
    position: absolute;
    bottom: 0;
    height: 46px;
}